# Section 1

Instal Python pada website resmi www.python.org ikuti setiap langkah yang ada.

open cmd searching for python --version

muncul python version 3

text editor untuk program python - Visual Studio Code (lebih mudah)

# Section 2 - Create Project

Buat new folder

Pada VSC sudah ada terminal sendiri, sehingga memudahkan proses pemrograman

# Section 3 - Shortcut

**1. Print ("") = untuk menampilkan tulisan**

tanda kutip ("") artinya text atau *string*

In [ ]:
print("Hello World")

In [ ]:
print ("Selamat Belajar")

**2. Menampilkan *comment*
 *example* = #ini adalah komentar**

In [ ]:
#iniadalahkomentar

biasanya disisipkan diujung. jika tanda crush # dihilangkan maka akan error

**3. Angka = print (1)**

tanpa tanda petik ("") isinya hanya angka. angka bisa ditambahkan pada operasi matematika. *Note = menggunakan titik (.)

**4. Operasi matematika sederhana = #Tambah #Kurang #Bagi #Kali #sisa Bagi (math)**

In [ ]:
1+1

In [ ]:
1-1

In [ ]:
10/5

In [ ]:
3*3

In [ ]:
10%3

**5. Variable**

*example* print("Hello World") akan diubah menjadi "Halo Dunia", maka pada *text* harus diubah semuanya. sehingga fitur variabel ini berfungsi sebagai tempat menyimpan data

untuk membuat variable = beri nama variable. *example* **hello** *boleh apa aja yang penting tidak bentrok dengan instruksi

In [ ]:
hello = "Halo Dunia"

variable "hello" kemudian datanya akan menjadi "Halo Dunia". Cukum menggunakan variable "hello" untuk menampilkan "Halo Dunia". jika ingin diubah silahkan ubah pada variable saja.

Boleh mengganti variable ditengah-tengah pemrograman.

**6. Data String = tipe data text (string)**

cukup menggunakan ("") tanda kutip. Boleh kutip dua (") dan kutip satu (')

In [ ]:
nama = "Eko Kurniawan"
kota = "Jakarta"
alamat = 'ghhkkk'

Dua *string* boleh ditambahkan/digabungkan. Untuk memberikan *space* bisa ditambahkan ditengah-tengah.

In [ ]:
nama_depan = "Eko"
nama_belakang = "Khannedy"
nama_lengkap + nama_depan + " " + nama_belakang

In [ ]:
print(nama_lengkap)

**7. String Format (string.format)**

untuk menyapa nama depan/belakang/tengah. untuk menandakan suatu *text* adalah *string format* ditambahkan **f**.

In [ ]:
nama_depan = "Eko"
nam_tengah = "Kurniawan"
nama_belakang = "Khannedy"

sapa = f"Halo {nama_depan} {nama_tengah} {nama_belakang}"

print(sapa)

dengan menghilngkan **f** maka *string format* undetected

**8. Input Data (input)**

Pada kenyataannya ketika bikin aplikasi input data dimasukkan oleh pengguna aplikasinya.

*example* : nama = input() - sebagai perintah input

In [ ]:
print("Silahkan masukkan nama : ")
nama = input()

print(f"Hello {nama}, Selamat Datang")

Ktika memasukkan nama ex : Eko Kurniawan maka akan otomatis print out "Hello Eko Kurniawan, Selamat Datang"

karena ketika memasukkan "Eko Kurnniawan" maka otomatis akan masuk ke variable *nama* sebagai input

**9. Input Number (input_number)**

untuk memunculkan data angka maka perlu menambahkan perintah **int** sebelum input() - *data string* untuk convert dari *string to integer*

remember : ketika dikonversi maka inputnya harus angka (*number*)

**10. Tipe Data Boolean = True atau False (boolean)**

In [ ]:
menikah = False
Jomblo = True

print(menikah)
print(jomblo)

**11. Operasi Logika = digunakan untuk data boolean (logic_operator.py)**

*Logic Operator* ini akan melakukan operasi terhadap 2 nilai boolean dan hasilnya juga boolean.

ada 2 operator logika :
1. Dan *keyword* **and**
akan melakukan operasi terhadap nilai boolean di kiri & di kanan.

In [ ]:
print (True and True)    = True
print (True and False)   = False
print (False and True)   = False
print (False and False)  = False

2. Atau *keyword* **or**. Seperti diatas akan ada 4 kemungkinan. Proses memilih.

In [ ]:
= True
= True
= True
= False

**12. Operator Perbandingan = membandingkan dua angka**

Caranya dengan melakukan pengecekan : 
1. > lebih dari
2. < kurang dari
3. >= lebih dari sama dengan
4. <= kurang dari sama dengan
5. == sama dengan
6. != tidak sama dengan

*sama dengan* dan *tidak sama dengan* bisa digunakan dalam tipe data **string**

Nanti hasil dari perbandingan hanya ada **True** dan **False**

**13. If-Statement = jika suatu kondisi terjadi atau terpenuhi kita akan melakukan apa (if)**

In [ ]:
if kondisi
  melakukan apa?
  melakukan hal lain
  dan seterusnya

Semua harus menggunakan karakter *tab*, jika tidak ada *tab* maka tidak terjadi eksekusi pada kondisi tersebut.

In [ ]:
orang = 100
zombie = 100

if orang < zombie:
  print ("Kabur, dunia hancur")
if orang > zombie:
  print("Mari hajar")
If orang == Zombie:
print("siap perang")

Hasilnya : ketika **False** tidak akan dieksekusi, sehingga yang **True** yang akan dieksekusi. Dari program diatas yang **True** adalah If orang == Zombie.

**13. Percabangan If-Else**

In [ ]:
menang = False
if menang == True ;
  print ("Selamat!")

else :
  print("Silahkan coba lagi!")

Ketika kondisi **If** dimana butuh melakukan kebalikan kondisinya berarti digabug **If** dan **else**

**14. Elif = else if (Elif.py)**

Elif akan menggabungkan *if*, dimana jika *if* yang pertama brnilai **True** maka *if* selanjutnya tidak akan ikut dieksekusi termasuk *else*

In [ ]:
menu_pilihan = input("Silahkan pilih menu [1-3]")

if menu_pilihan == "1" :
  print("Anda memilih 1")
elif menu_pilihan == "2" :
  print ("Anda memilih 2")

else :
  print ("Menu tidak tersedia")

Remember : Dari semua blok yang dieksekusi hanya dari *if* sampai *else*

**15. Struktur Data List (lis)**

untuk membuat variable list dari sekumpulan data bahkan yang tak terhingga

In [ ]:
nama = ["eko", "budi", "andi"]
nama.appeand("joko")

print(nama[0])
print(nama[1])
print(nama[2])
print(nama[3])

print(len(nama))

nama.remove("budi")

print(nama)

untuk mengakses tiap data yang dilist bisa menggunakan **indeks**. Cara mengakses *indeks* yaitu dengan [] pada variable nya.

Pada phyton **Indeks** dimulai dari 0. Sehingga untuk mengakses data yang pertama bisa dimulai dari 0, 1, 2, 3.....

Remember : akses **indeks** hanya sesuai yang ada pada data, karena akan error. Untuk mengecek ukuran pada list/berapa banyak data yang ada dilist bisa menggunakan perintah **len(nama)**. Untuk menghapus data bisa menggunakan perintah **nama.remove**. Untuk menambah data **nama.appeand**. Ketika *remove* data maka indeks akan berpindah. Mengubah/edit data **nama[0] = "kurniawan"** disesuaikan dengan indeks yang akan diubah.

**16. For Loop (Pengulangan For)**

Untuk menampilkan data berulang. **for** untuk mengakses semua data yang ada pada list

In [ ]:
Pelanggan = ["eko", "budi", "joko", "andi"]

for nama in pelanggan
  print(nama)

pada program misal variablenya *nama* dan data variable listnya *pelanggan*. Jadi ketika mengakses data pada list *pelanggan* tiap data akan dimasukkan ke variable *nama*. Jadi perintah **for** akan diulang-ulang terus dari data pertama hingga akhir.


**17. Range**

Digunakan untuk membuat list otomatis, hanya dengan memasukkan batas awal dan batas akhir. Dimana batas akhir dilebihkan satu.

In [ ]:
for no in range(1,11):
  print(no)

**18. Membuat Program Menggunakan For-Loop, List dan Range**

In [ ]:
banyak = int(input("Berapa banyak data?"))

nama = []
umur = []

for i in range(0, banyak):
  print(f"Data ke {i}")
  input_nama = input("Nama :")
  input_umur = int(input("Umur : "))

  nama.append(input_nama)
  nama.append(input_umur)

for i in range(0, len(nama)) :
  data_nama = nama[i]
  data_umur = umur[i]
  print(f"{data_nama} berumur {data_umur} tahun")

**19. While-Loop (Perulangan While)**

Bedanya dengan **for** yaitu jika di *for* perlu memasukkan sebuah data *list* atau *range*. Sedangkan **while** melakukan perulangan sesuai kondisi *boolean*.

jika **while** kondisinya **true** maka *isi while* akan terus di eksekusi hingga benilai **false**. Jika kondisinya **false** maka tidak akan mengeksekusi.

In [ ]:
data = ""

while data != "x":
  print("masuk perulangan")
  data = input("data :")

**20. Penggunaan Continue (continue)**

untuk memunculkan angka genap/ganjil atau menskip proses data yang terulang/looping sehingga proses *looping* akan dilanjutkan ke *looping* yang selanjutnya.

In [ ]:
for i in range(1, 100):
  if i %  == 0:
    continue
  print (i)

**21. Penggunaan Break (Break)**

Digunakan untuk menstop perulangan dan tidak dilanjutkan lagi. Jadi berarpun data di indeksnya tetap saja akan stop jika ada perintah **break**.

In [ ]:
for i ini range(1, 100):
  if i % 5 == 0:
    break
  print(i)

*Remember : misalnya pada perintah **while True** yaitu perintah yang akan looping tanpa henti, sehingga untuk memberhentikan dengan keyword **break**. Lebih mudah dibanding **while_loop**

**22. Struktur Data Tuple (Tuple)**

Seperti keywoord *list* **tuple** digunakan untuk menyimpan datalebih dari satu. Bedanya *list* menggunakan *kurung kotak* [ ] sedangkan *Tuple* menggunakan *kurung buka biasa* ( )

In [ ]:
pelanggan = ("Eko", "Joko", "Andi")

print(pelanggan)

Pada **Tuple** merupakan data *immutable* yaitu data yang tidak bisa berubah. Sedangkan untu **List** bisa mengubah data yaitu dengan perintah edit-data.

Tipe data **Tuple** cocok digunakan pada *Method* yaitu untuk mengembalikan data lebih dari satu data.

**23. Struktur Data Set (Set)**

1.   list => [ ]
2.   tuple => ( )
3.   set => { }

Kegunaannya seperti *list* dan *tuple* yaitu untuk menyimpan data. Yang membedakan adalah cara membuatnya, dan datanya tidak boleh sama. Karena jika ada data yang lebih dari satu atau sama maka yang terbaca hanya satu oleh program.

Dalam **set** tidak bisa mengakses data indeks. Caranya hanya menggunakan **for-loop**. Yang ada dalam **set** bisa menambah data dengan perintah **nama.add** dn menghapus data **nama.remove**

**24. Method (Function)**

Untuk mempersingkat program agar tidak mengulangi kode yang sama supaya lebih efektif.

**Function** ini berfungsi untuk menyimpan *blok* dimana kode blok akan dieksekusi ketika dibutuhkan dan dipanggil. Dengan menggunakan keyword **define(def)**. Jadi untuk kode yang akan dieksekusi agar tidak berulang kodenya/perintahnya bisa disimpan kedalam **Method** dan dipanggil sesuai kebutuhan.

In [ ]:
nama = []

def print_nama():
  print("==========")
  for data in nama :
    print(data)

nama.append("eko")
print_nama()

nama.append("kurniawan")
print_nama()

Remember : Jika membuat sebuah **Method** pastikan sebelum dipanggil telah dibuat/dideklarasikan sebelumnya.

**25. Method Parameter**

print = Method dalam python
----("") = Parameter

In [ ]:
def say_hello(nama):
  print(f"Hello {name}")

say_hello("Eko")
say_hello("Joko")

**Parameter** digunakan untuk memberikan *nilai*, *value*, atau *data* kedalam sebuah **Method**. Parameter juga bisa lebih dari satu cukup di gabungkan dengan tanda koma (,)

**26. Default Argument Value**

In [ ]:
def say_hello(name="Eko"):
  print(f"Hello {name}")

say_hello("Eko")
say_hello()

**Default Value** untuk parameter, dimana kita dapat mengaturnya ketika kode program memanggil *Method* tapi tidak memasukkan parameternya. Dengan menambahkan **Default Value** maka akan secara otomatis variablenya akan *opsional* atau tidak wajib diisi. keyword : name=

Remember : Penambahan *Default Value* harus di akhir kode bukan di depan.

**27. Argument List**

In [ ]:
def jumlahkan (*list_angka):
  total = 0
  for angka in lis_angka:
    total = total + angka
  print(f"Total {list_angka} = {total}")

jumlahkan(10,10, 10, 10)

Untuk parameter yang dinamis, sesuai dengan yang dimasukkan.maka digunakan **Argumen List**. Dimana cukup satu *argumen/parameter* dan kita bisa memasukkan beberapa nilai kedalam parameter tersebut.Untuk menandakan bahwa suatu parameter adalah **argument list** ditambahkan tanda bintang (*) di depan parameternya, sehingga akan memunculkan data lebih dari satu. Untuk menambahkan datanya digunakan *for-loop*.

**Argument List** digunakan untuk menampung lebih dari satu data dalam satu parameter. Mirip seperti list, tapi yang membedakan tidak perlu menggunakan kurung kotak [ ] cukup mentioned di parameternya. Untuk menambahkan **Argument List** ditambhkan dipaling belakang parameter dan hanya bisa satu.

**28. Return Value**

Sebelumnya **Method** hanya mengeksekusi kode yang diinginkan. Biasanya ada 2 jenis **Method** yaitu *prosedur = hanya mengeksekusi kode program saja* dan *function = yang mengembalikan nilai*.

Setelah mengeksekusi blok yang ada di **Method** kita bisa mngembalikan nilai dengan cara menambahkan perintan **return** setelah itu dipilih nilai apa yang akann dikembalikan.

In [ ]:
def jumlahkan(*list_angka):
  total = 0
  for angka in list_angka :
    total = total + angka
  return total

total = jumlahkan (10, 10, 10, 10, 10)

print(total)

Bisa juga **Method jumlahkan** digunakan untuk mengembalikan *data list* dari parameter yang ada.

**Return value** digunakan untuk mengembalikan hasil kalkulasi atau hasil kode program yang dibuat pada *Method*.

**29. Struktur Data Dictionary**

Mirip seperti *list, tuple dan set* yaitu tipe data bisa menyimpan lebih dari satu data.

In [ ]:
customer = {"Name" : "Eko", "Age":30, "Address":"Subang"}

name = customer ["Nama"]
age = customer ["Age"]
address = customer ["Address"]

for key in customer:
  value = customer [key]
  print(f"{key}:{value}")

del costumer ["Address"]

Dengan menggunakan **Dictionary** maka kita bisa mengganti indeksnya menjadi *string* dengan nilai bebas. Cara membuat *dictionary* mirip deperti *set* yaitu dengan kurung krwal { }. Pada *dictionary* indeks dipanggil **key**.

Dengan menggunakan **Dictionary** untuk kemungkinan salah kecil karena langsung mentioned dari si *dictionary nya karena datanya juga bentuknya *string*. Ketika menggunakan perulangan pastikan hasil perulangannya adalah **Key** dan untuk mengaksesnya bisa menggunakan **Key** yang ada diperulangan **for**.

untuk menambah/mengubah cukup dengan menambahkan *atribut*. Jika ingin menghapus data gunakan keyword **del**. Jadi untuk membuat data misalnya "costumer" atau data dengan atribute data yang banyak sebaiknya menggunakan **dictionary**.

**30. Keyword Argument List**

In [ ]:
def create_html(tag, text, **attributes):
  html = f",{tag}>{text}</{tag}>"

for key, value in attributes.items():
  html = html + f"{key} ='{value}'"
  html = html + f"{text}</{tag}>"
  return html

html = create_html("p", "Hello Python", style="paragraf")
print(html)
html = create_html("a", "Ini Link", href="www.google.com", style="link")
print(html)

#<a href="">Ini Link</a>

**Keyword Argument List** digunakan ketika memasukkan *argumet* tapi harus menyebutkan nama *argument/parameternya* dan nanti akan di combine secara otomatis menjadi *dictionary*. Dan berfungsi untuk menambahkan custom parameter/ argument.

keyword **argument** menggunakan bintang dua (**).

**31. Module**

 Membuat satu file untuk tiap proses berdasarkan fitur2nya. Ketika membuat file berarti kita membuat **Module** dimana file tersebut bisa digunakan di file lain. Jika kita kan mengimport dari file lain bisa menggunakan keyword **import**. Misalnya mengimport dari function.py, jadi untuk mengimport satu modul untuk mengakses *Method* harus awali dengan nama modulnya. Sedangkan untuk langsung import *Method* tidak perlu menggunakan prefiks nama modul diawalannya.

In [ ]:
from function import say_hello
from function import total

hello = say_hello("Eko")
print(hello)

hasil = total(1,2,3,4,5)
print(hasil)

Remember : Saat membuat program jangan dibuat di dalam satu file tapi perlu dipisah-pisah menjadi beberapa modul, dan membuat satu program yang khsus memanggil semua modulnya.

**32. Tipe Data Numeric**

Secara detail di python ada 3 jenis numeric :

1.  Integer = numeric biasa tanpa decimal
2.  Float = decimal
3.  Complex = ada real number dan imaginary number

In [ ]:
angka = 1
angka2 = 1.5
total = angka + angka2
print(total)
print(10/3)

**33. String Method**

**Build in Method** = Metode yang telah di Build in untuk si *String*
[link text] ==> (https://docs.python.org/3.7/library/stdtypes.html#string-methods)

**I have to read about this anymore**

In [ ]:
nama = "ekp kurniawan khannedy"
print(nama)
print(nama.upper())
print(nama.capitalize())
print(nama.title())
print(nama.split(" "))

**34. Membuat Program Management Kontak**

github

# Section 4 - Basic OOP

**1. Pendahuluan Object Oriented Programming**

**OOP (Object Oriented Programming)** atau dalam bahasa indonesia dikenal dengan pemrograman berorientasikan objek (PBO) merupakan sebuah paradigma atau teknik pemrograman yang *berorientesikan objek*.

Programming Paradigma :
1.   Structural - procedural, ciri2nya : yang menyusun program seperti resep karena menyediakan seperangkat langkah, dalam bentuk fungsi dan blok kode, yang mengalir secara berurutan untuk menyelesaikan tugas
  *  Dieksekusi berdasarkan urutan --> variable yang bernama sama

2.   Object - Oriented ---> Menggunakan object agar bisa saling beriteraksi. Terdapat *template* -> *class*.

**Class** = memiliki **template** :
1.   Attribut (perlengkapan)
2.   Method (Sesuatu yang bisa dilakukan)
* Semua yang ada diatas merupakan *object*

cara membuat **class** pada python :
1.   Mendeklarasikan *class* dan diberi *pass*
2.   konvensi beri space 2 
3.

In [ ]:
class Hero: #template
  pass
  

hero1 = Hero() #object/instance (intansiate)
hero2 = Hero()
hero3 = Hero();

hero1.name = "sniper"
hero1.health = 100

hero2.name = "sven"
hero2.health = 200

hero3.name = "ucup"
hero3.health = 1000

print(hero1)
print(hero1._dict_)
print(hero1.name)

Remember dalam OOP :
1.   **Variabel** disebut *atribut* atau *properti*
2.  **Fungsi** disebut *method*
3.   **Instance** bisa diartikan sebagai wujud dari *class*
4.   **Class** berisi definisi variabel dan fungsi yang menggambarkan sebuah *objek*

**2. Constructor_init__()**

**Constructor** adalah method khusus yang akan dijalankan secara otomatis pada saat sebuah objek dibuat (instansiasi), yakni ketika perintah **new** dijalankan. Constructor biasa digunakan untuk membuat proses awal dalam mempersiapkan objek, seperti memberi nilai awal kepada *property*, memanggil *method* internal dan beberapa proses lain yang digunakan untuk ‘mempersiapkan’ objek.

**constructor** dibuat menggunakan method : **__construct()**. *Notice that the construct function starts with two underscores (__)*!

Semua class membuat objek, dan semua objek mengandung karakteristik yang disebut **atribut** (disebut sebagai properti pada paragraf pembuka). Gunakan **__init__()**metode untuk menginisialisasi (misalnya, tentukan) atribut awal objek dengan memberi mereka nilai *default* (atau side state). Metode ini harus memiliki setidaknya *satu argumen* dan juga selfvariabel, yang mengacu pada objek itu sendiri (misalnya, Dog).

**3. Class dan Instance Variables**

**Variabel** pada dasarnya adalah simbol yang mendukung nilai yang di gunakan dalam suatu program.

**Class Variable** didefinisikan dalam *class contruction*. Karena mereka dimiliki oleh *class* itu sendiri, *class variable* dibagi oleh semua *class instance*. Karenanya mereka umumnya akan memiliki nilai yang sama untuk setiap *class instance* kecuali kita menggunakan *class variable* untuk menginisialisasi variabel.

Didefinisikan di luar semua metode, variabel kelas, dengan konvensi, biasanya ditempatkan tepat di bawah *class header* dan sebelum *constructor method* dan metode lainnya.

In [ ]:
class Shark:
    animal_type = "fish"

Di sini, variabel *animal_type* diberi nilai "ikan". Kita dapat membuat turunan dari kelas *Shark* (disebut *new_shark*) dan mencetak variabel dengan menggunakan *notasi titik (.)* :

In [ ]:
class Shark:
    animal_type = "fish"

new_shark = Shark()
print(new_shark.animal_type)

Program kita mengembalikan nilai variabel.

Mari kita tambahkan beberapa variabel kelas lagi dan run:

In [ ]:
class Shark:
    animal_type = "fish"
    location = "ocean"
    followers = 5

new_shark = Shark()
print(new_shark.animal_type)
print(new_shark.location)
print(new_shark.followers)

Sama seperti variabel lainnya, *class variable* dapat terdiri dari tipe data apa pun yang tersedia untuk kita dengan Python. Dalam program ini memiliki *string* dan *integer*.

**Instance variable** dimiliki oleh *instance* dari *class*. Ini berarti bahwa untuk setiap objek atau class instance, variabel instance berbeda.

Tidak seperti variabel kelas, variabel instan didefinisikan dalam *method*.

In [ ]:
class Shark:
    def __init__(self, name, age):
        self.name = name
        self.age = age

new_shark = Shark("Sammy", 5)
print(new_shark.name)
print(new_shark.age)

stevie = Shark("Stevie", 8)
print(stevie.name)
print(stevie.age)

**Instance variable**, yang dimiliki oleh *class object*, memungkinkan setiap objek atau instance memiliki nilai berbeda yang ditetapkan untuk variabel tersebut.

Conclusion : Dalam OOP, variabel di tingkat *class* disebut sebagai **class variable**, sedangkan variabel di tingkat *objek* disebut **instance variable**.

Diferensiasi ini memungkinkan kita untuk menggunakan variabel kelas untuk menginisialisasi *objek* dengan nilai spesifik yang ditetapkan ke *variabel*, dan menggunakan variabel berbeda untuk setiap objek dengan **instance variable**.

Memanfaatkan **class variable** dan **instance-spesifik** dapat memastikan bahwa kode mematuhi prinsip DRY untuk mengurangi pengulangan/loop dalam kode.

**4. Methods**

**Method** adalah tindakan yang bisa dilakukan di dalam *class*. Jika menggunakan analogi *class laptop* kita, maka contoh method adalah: menghidupkan laptop, mematikan laptop, mengganti cover laptop, dan berbagai tindakan lain.

**Method** adalah setara dengan *function* dalam OOP. Kata benda adalah kata kerja, variabel untuk suatu metode - metode adalah tindakan yang melakukan operasi pada suatu *variabel*. **Method** menerima parameter sebagai argumen, memanipulasi ini, dan kemudian menghasilkan output ketika metode dipanggil pada *objek*. Metode mirip dengan fungsi, tetapi metode juga diklasifikasikan sesuai dengan tujuannya dalam desain *class*. Di *class variable* disebut **atribut**, sehingga metode sering beroperasi pada *atribut*.

**5. Latihan OOP Sederhana**

github